################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Turing_Student_Code_2019/v16/ipch/AutoPCH/3795ff60e273a7dd/BIGINTEGER.ipch
