/*------------------------------------*\
    前台公共css样式
\*------------------------------------*/
/**
 * 标签样式
 * 自定义class样式
 * Bootstrap 样式修改
 * 公共布局样式
 * 其他页面样式
 */


/*------------------------------------*\
    $标签样式
\*------------------------------------*/

body {
  font-family: '宋体';
  font-size: 15px;
  min-width: 1002px;
}

a,
a:active,
a:focus {
  color: #666;
  text-decoration: none;
} 
a:hover {
    color: #E74C3C;
    text-decoration: none;
}

div {
    overflow: hidden;
}

table {
    width: 100%;
    text-align: center;
}

hr {
  margin: 10px 0px;
}

textarea {
  resize: none;
}

ul {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}

/*------------------------------------*\
    $ bootstrap 样式
\*------------------------------------*/

.container {
  width: 1002px;
  max-width: none !important;
  padding: 0px;
}

.panel {
    margin-bottom: 0px;
    border-radius: 0px;
}

.panel > .panel-heading {
    padding: 5px 15px;
    border-radius: 0px;
}

.panel > .panel-body {
    padding: 10px;
}

.breadcrumb {
  border-radius: 0px;
  border: 1px solid #F8DCDE;
  background-color:#fff ;
  margin-bottom: 10px;
}

.form-horizontal .form-group {
  margin-bottom: 5px;
}

.form-horizontal .form-group:last-child {
  margin-bottom: 0px;
}

/* 布局 */
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
  padding: 0px 8px;
}

.control-label {
  padding-right: 5px;
  text-align: right;
  padding-top: 7px;
}

label.btn {
  margin-right: 5px;
  margin-top: 3px;
}


.btn-group .btn-default.active, 
.btn-group .btn-default:active,
.btn-group .btn-default:hover,
.btn-group .btn-default:focus {
  box-shadow: none;
  background-color: #D1474F !important;
  border-color: #D1474F !important;
  color: #fff !important;
}


/* navbar */
.navbar {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 10px;
  min-width: 1200px;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-header {
  float: left;
}
.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}


.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

/*------------------------------------*\
    $ Thinkphp 样式
\*------------------------------------*/
.page {
    /*height: 30px;
    line-height: 30px;
    text-align: center;*/
    margin-top: 20px;
}
/**
 * 分页样式
 */
.page .num,
.page .current,
.page .first,
.page .prev,
.page .next,
.page .end
 {
    border: 1px solid #ccc;
    /*padding: 5px 8px;*/
    padding: 3px 8px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.page .current {
    color: #fff;
    background-color: #D1474F;
    border-color: #D1474F;
}

/*------------------------------------*\
    $ 自定义class 样式
\*------------------------------------*/

.text-bold {
  font-weight: bold;
}

.text-danger {
  color: #D1474F;
}

.content.container {
  margin-top: 10px;
}



/* jquery validate 错误提示 */
label.error {
  color: #E74C3C;
  font-size: 12px;
  font-weight: normal;
}
label.error:before {
  content: "*";
}
.form-control.error {
  border-color: #E74C3C;
}

.footer-banner { margin-top: 40px !important; border-top: 1px solid #ccc; padding-top: 20px;}
.footer-recommend { margin-top: 30px !important; margin-bottom: 20px !important; }

.footer-banner .col-xs-4 {
  padding: 0px !important;
}
.footer-banner,.footer-recommend {
  width: 1002px;
  margin: 0 auto;
}

/* 推荐、紧急寻人 recommend urgent */
.footer-recommend {
  height: 140px;
  font-weight: normal;
  border: 1px solid #ECBBBE;
}

.footer-recommend > table {
  height: 100%;
  /*border-left: 1px solid #ECBBBE;*/
  background-color: #fff;
}

.footer-recommend > table img{
  width: 90px;
  height: 100px;
  border: 1px solid #eee;
  padding-left: 2px;
}

.footer-recommend {
  background: url(../../images/index/img/recommend.png) no-repeat right center;
  padding-right: 50px;
  background-color: #EEEEEE;
}

.detail-content
{
  margin: 20px 0px 5px 100px;
  padding:5px 10px 5px 10px;
  border: 1px solid #ccc;
  font-family: '宋体';
  font-size: 15px;
  min-width: 1002px;
  font-weight:550;
}